/* начало стилей первой страницы с логинкой */
.okno_vvoda {
    width: auto;
    height: auto;

    position: absolute;
    left: 20%;
    top: 15%;
    border-radius: 10px;
 
}
#loginka {
    display: none;
    width: auto;
    height: auto;

    position: absolute;
    left: 20%;
    top: 15%;
    border-radius: 10px;
}
/* конец стилей первой страницы с логинкой */




/* начало стилей основной страницы отправки */
#zapis {
    size: 100px;
}
.okno_vvoda2 {
    width: 350px;
    height: auto;

    position: absolute;
    left: 20%;
    top: 13%;

}
#error {
    height: 30px;
    background-color: darkgray;
    border: brown 3px solid;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 200px;
    color: black;
    padding: 10px;
    min-width: 200px;
    min-height: 60px;
    display: block;
}
#inp_php{
    position: absolute;
    top: 50%;
    left: 20%;
}
#inp_msg {
    border-radius: 10px;
    border: lightgreen solid 3px;
    width: auto;
    height: auto;
    padding: 5px;
    display: block;
    max-width: 40%;
    }
    
    textarea {
    margin: 3%;
 

    resize: none;
}

/* конец стилей основной страницы отправки */







/* начало разных стилей, который используются везде */
p {
    margin: 3%;
}
#display_none {
    display: none;
}
#inv_inp {
    display: none;
}
button{
    border: darkgray solid 2px ;
    padding: 2px;
}
    body {

    color: rgb(43, 3, 3);
    font-size: 16px;
}
input {
    border: darkgray solid 2px ;
    padding: 2px;
}

/* конец разных стилей, который используются везде */










